.div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 300px;
}

.h2 {
    top: 420px;
    left: 290px;
    width: 332px;
    height: 50px;
    text-align: left;
    font: normal normal normal 20px/24px;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.p {
    top: 473px;
    left: 290px;
    width: 520px;
    height: 100px;
    text-align: left;
    font: normal normal normal 12px/18px Helvetica Neue;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.texto {
    margin-top: -90px;
    width: 500px;
    display: flex;
    flex-direction: column;

}

form {
    color: #888888;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 7px solid;
}

.input {
    width: 320px;
    height: 30px
}

.button {
    top: 670px;
    left: 870px;
    width: 320px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    color: #888888;
    border-radius: 4px;
    opacity: 1;
    margin-top: 20px;
    cursor: pointer;
}


.radio {
    width: 20px;
    height: 15px;
    border: 1px solid #707070;
}

.radioTxt {
    text-align: left;
    font: normal normal normal 12px/14px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    margin-left: 10px;
}

span {
   font-weight: bold;
   font-size: 15px;
   color: red;
   margin-top: -18px;
}